# Binaires & artefacts de build
/bin/
*.exe
*.test
*.out

# Environnement & secrets (on versionne uniquement .env.example)
.env
.env.*
!.env.example

# Go
/vendor/

# Frontend (Node)
frontend/node_modules/
frontend/dist/

# OS / IDE
.DS_Store
.vscode/
.idea/

docs